<% if @view_in_config && @erb_code %>
  <%= render inline: @erb_code %>
  
  <% else %>
  <div class="container">
  <div class="page-header clearfix">
    <div class="pull-left">
        <h2><%=@title%></h2>
    </div>
  </div>

<%= simple_form_for @part, html: { class: 'form-horizontal col-sm-' + BUTTONS_CLS['form-span#'] },
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  
      <div class="form-inputs"> 
      	   <%= f.input :stay_input, :label => I18n.t('Stay Input'), :as => :boolean %>
           <%= f.input :name, :label => t('Part Name') %>  
           <%= f.input :part_num, :label => t('Part#') %>
           <%= f.input :spec, :label => t('Spec'), :input_html => {:rows => 3} %>
           <%= f.input :unit, :label => t('Unit'), :collection => @qty_unit, :include_blank => true %>
           <%= f.input :category_id, :label => t('Part Category'), :collection => TwoTierDefinitionx::Definition.where('active = ? AND for_which = ?', true, 'material_category').order('ranking_index'), :include_blank => true %>
           <%= f.input :sub_category_id, :label => t('Part Sub Category'), :collection => TwoTierDefinitionx::SubDefinition.where(active: true).order('ranking_index'), :include_blank => true %>
           <%= f.input :preferred_supplier, :label => t('Preferred Supplier'), :input_html => {:rows => 2} %>
           <%= f.input :preferred_mfr, :label => t('Preferred Mfr') , :input_html => {:rows => 2} %>
           <%= f.input :field_changed, :as => :hidden %> 
           <%= f.input :aux_resource, :as => :hidden, :input_html => {:value => @aux_resource} if @aux_resource %>
           <%= render inline: @aux_erb_code, locals: {f: f} if @aux_resource %>

      <div class="form-actions col-sm-offset-<%=BUTTONS_CLS['offset#']%>" >
          <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
          <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %>    
      </div> 

  </div>
 
<% end %>

</div>
  
<% end%>

