<% if @js_erb_code %>
  <%= render inline: ERB.new(@js_erb_code).result(binding) %>
  
<% else %>
<% if params[:part][:field_changed] == 'category_id' && params[:part][:category_id].present?  %>
  $('#part_sub_category_id').empty();
  $('#part_sub_category_id').append('<option value=""></option>');
  <% BaseMaterialx.category_class.find_by_id(params[:part][:category_id].to_i).sub_definitions.each do |r| %>
    $('#part_sub_category_id').append('<option value="<%=r.id%>"><%= "#{r.name}" %></option>');
  <% end %>
  $('#part_field_changed').val('');
<% elsif params[:part][:field_changed] == 'category_id' && params[:part][:category_id].blank? %>
  $('#part_sub_category_id').empty();
  $('#part_field_changed').val('');
<% end %>

<% if params[:field_changed] == 'flag' && params[:flag].present?  %>
  <% @erb_code = find_config_const('part_new_view_' + params[:flag].strip, session[:fort_token], 'base_materialx') %>
  $('#new_page').html("<%= escape_javascript render partial: 'form_new'} %>");
  $('#part_flag').val("<%=params[:flag]%>");
  $('#field_changed').val('');
<% elsif params[:field_changed] == 'flag' && params[:flag].blank? %>
  <% @erb_code = find_config_const('part_new_view', session[:fort_token], 'base_materialx') %>
  $('#new_page').html("<%= escape_javascript render partial: 'form_new'} %>");
  $('#part_flag').val("<%=params[:flag]%>");
  $('#field_changed').val('');
<% end %>


<% end %>
